*,
*::before,
*::after {
  box-sizing: border-box;/* это чтобы  у нас падинги не приплюсовывались к нашим 1100 пикселям, ибо нам надо всёравно их добавить будет чтобы подвигать контент*/
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}
